# while loop
while :: "while" expression:exp "do" statement:smt newline
   "while (" exp ") {" smt "} ;" newline

while :: "while" expression:exp newline block:body
   "while (" exp ") {" body "} ;" newline



# for loop
for :: "for" word:type? word:item "in" exp:iterable "do" statement:smt newline
